
.subregion .theader0 {
    padding-left: 28px;
}

.subregion .theader3 {
    width: 5%;
    text-align: center;
}
.subregion .theader4 {
    width: 8%;
    text-align: center;
}
.subregion .theader5 {
    width: 8%;
    text-align: center;
}
.subregion .tdata3 {
    text-align: center;
}
.subregion .tdata4 {
    text-align: center;
}
.subregion .tdata5 {
    text-align: center;
}
.content {
    padding: 50px;
}
  